html,
body{
	width: 100%;
	background-color: #fff;
	font-family: 'Open Sans', 'Raleway', sans-serif;
	overflow-x: hidden;
	padding: 0;
}

/*Navbar Css*/
.icon-bar{
	background-color: #000;
	margin-top: 14px;
	border-width: 2px solid #000;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent
}

.navbar-fixed-top {
	background-color: rgba(52,73,94,1);
	height: 110px;
}

.kl-nav {
	padding-top: 34px;
}

.navbar-nav li a {
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
    font-size: 16px;
}

.navbar-default .navbar-nav li a {
	color: #ffffff;
	padding-bottom: 3px;
	cursor: pointer;
	background-color: transparent;
    border-color: white;
    font-family: Raleway;
}

.navbar-nav .btn-default {
    border-radius: 30px;
    height: 30px;
    padding: ;
}

.navbar-default .navbar-nav li  a:hover{
    color: #E74C3C;
}

.logo {
	width: 150px;
	margin-top: 0px;
}


/* Middle Text */


.middle-text h2 {
    color: #333333;
    margin-top: 140px;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 25px;
    font-family: Raleway;
}

/* Demo */
.demo-cover {
    background-color: #2d3e50;
}

.page-section {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.demo-title h2 {
    color: #ffffff;
    font-size: 34px;
    font-weight: 300;
    font-family: Raleway;
}

.demo-paragraph p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
}

/* Devider */
.devider {
    margin: 30px auto;
    width: 180px;
}

.devider .devider-line-h {
    height: 1px;
    margin: 0 auto auto;
    width: 100%;
}

.visible {
    visibility: visible;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.devider .devider-round-in, .devider .devider-round-out {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-transition: 50%;
}

.devider .devider-round-out-dark-blue {
    background-color: #FFF;
    border: 0px solid;
}

.devider .devider-round-out {
    height: 14px;
    margin: -8px auto auto;
    width: 14px;
    position: inherit;
}

/* Download */
.gallery-section {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.h1-gallery-title h1 {
    font-size: 38px;
    font-family: Raleway;
}

.gallery-session .btn-primary {
    height: 45px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.428571429;
}

.button2-session .btn-danger {
    height: 45px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.428571429;
}

.gallery-box img {
    max-height: 350px;
    min-width: 350px;
}

/* GAMES */
.game-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.game h1 {
    text-align: center;
    color: #ffffff;
    font-family: Raleway;
}

.bird-phone {
    text-align: center;
}

.bird-phone img {
    height: 306px;
    width: 144.574px;
    margin-top: 120px;
}

.bird-list ul li {
    color: #ffffff;
    margin-left: -225px;
    font-size: 17px;
}

.bird-list p {
    color: #ffffff;
    font-size: 17px;
    margin-left: -205px;
    line-height: 28px;
}

.bird-list .btn-danger {
    margin-left: -205px;
    height: 40px;
    width: 209px;
    font-size: 14px;
}


/* GAME DEMO */
.game-demo-pg {
    margin-top: 100px;
    margin-bottom: 100px;
}

.game-demo-title h1 {
    text-align: center;
    font-family: Raleway;
}

.feedback h1 {
    text-align: center;
    color: #000000;
    font-family: Raleway;
}

.feedback-paragraph p {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    margin-bottom: 20px;
}

.contact-feedback {
    margin-top: 48px;
    text-align: center;
}

.contact-feedback .btn-default {
    height: 45px;
    width: 200px;
    font-size: 15px;
    border-radius: 30px;
}

.founder-pg {
    margin-top: 180px;
    margin-bottom: 100px;
    text-align: center;
}

.founder-button .btn-primary {
    border-radius: 30px;
    font-size: 15px;
    width: 200px;
    height: 45px;
}

/* SOCIAL-Footer */
.container-footer {
    background-color: #34495E;
    padding: 10px 0;
    height: 100px;
}

/* BLUE-FOOTER */
.container-blue {
    background-color: #E74C3C;
    height: 60px;
}

.trade-mark {
    text-align: center;
}

.trade-mark li {
    list-style: none;
    padding-top: 20px;
}



/* MOBILE RESPONSIVE */
@media only screen and (max-width: 767px) {
    .middle-text h2 {
        font-size: 24px;
    }
    .video-session {
       width: 100%;
    }
}